<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  internalLogLevel="Info" internalLogFile="C:\Users\giova\Documents\transacciones\Transacciones\logs\nlogEnvironment\${shortdate}-Nlog_internal.txt">

	<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions>

	
	<targets>
		<target name="logDebug" xsi:type="File" fileName="C:\Users\giova\Documents\transacciones\Transacciones\logs\debug\${shortdate}-Debug.txt" layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|${all-event-properties}" />
		<target name="logFileError" xsi:type="File" fileName="C:\Users\giova\Documents\transacciones\Transacciones\logs\error\${shortdate}-Error.txt" layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|${all-event-properties}"/>	
		<target name="logFileWarning" xsi:type="File" fileName="C:\Users\giova\Documents\transacciones\Transacciones\logs\warning\${shortdate}-Warning.txt" layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|${all-event-properties}"/>
		<target name="logFileInfo" xsi:type="File" fileName="C:\Users\giova\Documents\transacciones\Transacciones\logs\info\${shortdate}-Info.txt" layout="${date}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|${all-event-properties}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="logFileError" final="true"/>
		<logger name="*" minlevel="Warn" writeTo="logFileWarning" final ="true"/>
		<logger name="*" minlevel="Info" writeTo="logFileInfo" final="true"/>
		<logger name="*" minlevel="Debug" writeTo="logDebug" final="true"/>
	</rules>

</nlog>

